@media (max-width: 992px) and (min-width: 768px) {
    .gallery-item:nth-child(2n + 2){
        clear: left;
    }
}

.gallery-item:nth-child(4n + 1){
    clear: left;
}

@media (max-width: 992px) {
    .gallery-item:nth-child(2n + 1){
        clear: left;
    }
}

.icon-link2:before {
    content: '\ed6a';
}

.menus-selection .panel-body{
    padding:0;

}
.menus-selection .panel-body .wrap-type-list{
    margin: 0;
}
.menus-selection .panel-body .title:after{
    content: "\e9c7";
    font-family: icomoon;
    font-size: 16px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 15px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
}
.menus-selection .panel-body .title.active:after{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.menus-selection .panel-body .title{
    font-size: 13px;
    display: block;
    padding: 10px;
    background: #fff;
    color: #333;
    border-bottom:1px solid #dfdfdf;
    position: relative;
}

.menus-selection .panel-body .type-list{
    margin: 0;
}

.menus-selection .panel-body .list-items{
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.menu-item{
    border: 1px solid #dfdfdf;
    position: relative;
    padding: 5px 15px;
    height: auto;
    min-height: 20px;
    line-height: 30px;
    overflow: hidden;
    word-wrap: break-word;
    background: #fafafa;
    width: 400px;
}
.menu-item .item-title{
    float: left;
    font-weight:bold;
    font-size: 13px;
}
.menu-item .item-control{
    float: right;
    font-size: 12px;
    padding-right: 15px;
}

.menu-item .item-control:after{
    content: "\e9c7";
    font-family: icomoon;
    font-size: 16px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 20px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
}
.menu-item.active .item-control:after{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.menu-item-setting{
    display: block;
    width: 400px;
    padding: 10px;
    position: relative;
    z-index: 10;
    border: 1px solid #e5e5e5;
    border-top: none;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.menu-setting-functions-wrap{
    margin-top: 10px;
}

.html-editor{
    width: 100%;
    height: 200px;
}

.ace_editor{
    width: 100% !important;
    height: 200px !important;
}

.cke_editable{
    max-width: 650px !important;
}

.page-header+.content{
    padding-bottom: 100px;
}

@media (min-width: 769px) {
    .sidebar{
        width: 170px;
    }
    .sidebar-main .navigation-main>li>ul {
        position: absolute;
        right: -170px;
        top: 0px;
        width: 170px;
        display: none;
        background-color: #263238;
        border-left: 1px solid rgba(255,255,255,.1);
        border-radius: 0 0 3px;
    }
    .sidebar-main .navigation-main>li:hover>ul {
        display: block!important;
    }
    .sidebar-main .navigation-main>li>ul>li>a {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navigation>li>a{
    padding: 12px 8px;
}

.bulk-action{
    margin-bottom: 10px;
}
.checker, .checker input, .checker span, .choice, .choice input, .choice span{
    width: 15px;
    height: 15px;
}
.checker span:after{
    font-size: 13px;
}

.table-data thead th:first-child{
    width: 40px;
}

.table-data thead th:last-child{
    width: 180px;
}

.table-data tr td:last-child{
    text-align: right;
}
.no-item{
    padding-top: 10px;
    text-align: center;
}

.panel{
    margin-bottom: 12px;
}
.panel-body h5{
    margin-top: 0;
}

/*Tab extra*//*!
 * bootstrap-vertical-tabs - v1.2.1
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-11-07
 * Copyright (c) 2014 İsmail Demirbilek
 * License: MIT
 */
.tabs-left>li{
    display: block !important;
}
.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}
.tabs-left {
    border-right: 1px solid #ddd;
}
.tabs-right {
    border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
}
.tabs-left>li {
    margin-right: -1px;
}
.tabs-right>li {
    margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}
.tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
}
.tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}
.sideways {
    margin-top:50px;
    border: none;
    position: relative;
}
.sideways>li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
}
.sideways>li>a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}
.sideways>li.active>a,
.sideways>li.active>a:hover,
.sideways>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
}
.sideways.tabs-left {
    left: -50px;
}
.sideways.tabs-right {
    right: -50px;
}
.sideways.tabs-right>li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sideways.tabs-left>li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
/*Tab extra End*/

.sample-title{
    font-size: 18px;
    color:rgb(26, 13, 171);
}

.sample-url{
    color:rgb(0, 102, 33);
    font-size: 14px;
}

.sample-meta-description{
    color:rgb(84, 84, 84);
    font-size: 13px;
}

.list-items img{
    width: 80px;
}

select.select-bulk-action{
    height: 32px;
    width: 192px;
    border:1px solid #e5e5e5;
}