.main-header-bg {
  background-image: url(../img/backgrounds/01-Travel-and-Clothes-Mockup.jpg);
}
.main-header-bg1 {
  background-image: url(../img/backgrounds/doctor.jpg);
}
.main-header-dark-bg {
  background-image: url(../img/backgrounds/01-Travel-and-Clothes-Mockup-dark.jpg);
}
.header-banner-bg1 {
  background-image: url(../img/backgrounds/01-Travel-and-Clothes-Mockup.jpg);
}
.header-banner-bg2 {
  background-image: url(../img/backgrounds/building.jpg);
}
.header-banner-bg3 {
  background-image: url(../img/backgrounds/15-etiquette-rules-for-dining-at-fancy-restaurants.jpg);
}
.header-banner-bg4 {
  background-image: url(../img/backgrounds/restutant.jpg);
}
.header-banner-bg5 {
  background-image: url(../img/slider-images/slider_image_5.jpg);
}
.header-banner-bg6 {
  background-image: url(../img/slider-images/slider_image_3.jpg);
}
.header-banner-bg7 {
  background-image: url(../img/slider-images/slider_image_4.jpg);
}
.title-bar-bg1 {
  background-image: url(../img/backgrounds/bg2.jpg);
}
.title-bar-bg2 {
  background-image: url(../img/backgrounds/bg3.jpg);
}
.title-bar-bg3 {
  background-image: url(../img/backgrounds/bg4.jpg);
}
.resturant-bg1 {
  background-image: url(../img/backgrounds/grill.jpg);
}
.custom-bg1 {
  background-image: url(../img/shop/cappelli.jpg);
}
.custom-bg2 {
  background-image: url(../img/shop/passagrilli_sciarpe.jpg);
}
.custom-bg3 {
  background-image: url(../img/shop/Top1.jpg);
}
.custom-bg4 {
  background-image: url(../img/shop/Top2.jpg);
}
.custom-bg5 {
  background-image: url(../img/shop/Top3.jpg);
}
.custom-bg6 {
  background-image: url(../img/shop/Top4.jpg);
}
.custom-bg7 {
  background-image: url(../img/backgrounds/laptop-pro-4.png);
}
.custom-bg8 {
  background-image: url(../img/backgrounds/imac.png);
}
.custom-bg9 {
  background-image: url(../img/backgrounds/DESKTOP-1280-800-3.jpg);
}
.custom-bg10 {
  background-image: url(../img/backgrounds/plane.jpg);
}
.custom-bg11 {
  background-image: url(../img/backgrounds/travel2.jpg);
}
.custom-bg12 {
  background-image: url(../img/backgrounds/bg_restaurant.jpg);
}
.custom-bg13 {
  background-image: url(../img/backgrounds/law1.jpg);
}
.custom-bg14 {
  background-image: url(../img/backgrounds/Male-lawyer-examine-civilianreduced.jpg);
}
.custom-bg15 {
  background-image: url(../img/backgrounds/stopwatch.png);
}
.custom-bg16 {
  background-image: url(../img/backgrounds/Wedding-Couple.jpg);
}
.custom-bg17 {
  background-image: url(../img/backgrounds/Langkawi-Weddings1.jpg);
}
.custom-bg18 {
  background-image: url(../img/backgrounds/photodune-1576014-wedding-couple-l.jpg);
}
.custom-bg19 {
  background-image: url(../img/backgrounds/WomensConference_026.jpg);
}
.custom-bg20 {
  background-image: url(../img/backgrounds/bigstockphoto_Young_Man_Listening_To_Music_556416.jpg);
}
.custom-bg21 {
  background-image: url(../img/backgrounds/place.jpg);
}
.custom-bg22 {
  background-image: url(../img/backgrounds/iphone.jpg);
}
.custom-bg23 {
  background-image: url(../img/backgrounds/iphone1.jpg);
}
.custom-bg24 {
  background-image: url(../img/backgrounds/o-WORKOUT-WITH-MUSIC-facebook.jpg);
}
.custom-bg25 {
  background-image: url(../img/backgrounds/Sweet-Katarina-Cas-Face-Closeup-Listening-Music.jpg);
}
.custom-bg26 {
  background-image: url(../img/backgrounds/custom-bg.jpg);
}
.fullscreen-bg1 {
  background-image: url(../img/backgrounds/house1.jpg);
}
.fullscreen-bg2 {
  background-image: url(../img/backgrounds/homepages.jpg);
}
.fullscreen-bg3 {
  background-image: url(../img/backgrounds/homepages1.jpg);
}
.pattern-bg1 {
  background:url(../images/s3.jpg) center;
}
.pattern-bg2 {
  background-image: url(../img/backgrounds/pattern1.jpg);
}
.hair-bg1 {
  background-image: url(../img/backgrounds/black-color-natural-hair-styles-natural-oil-massage-for-hair-styling-3.jpg);
}
.hair-bg2 {
  background-image: url(../img/backgrounds/curly-hair-style-bg.jpeg);
}
.hair-bg3 {
  background-image: url(../img/backgrounds/how-to-make-curly-hair-wavy-hair-salon-como.jpg);
}
.hair-bg4 {
  background-image: url(../img/backgrounds/Best-Hair-Style.jpg);
}
.hair-bg5 {
  background-image: url(../img/backgrounds/love-the-one-youre-with-hair-salon-wallsend.jpg);
}
.hair-bg6 {
  background-image: url(../img/backgrounds/women-hair-styles-hairstyle-index-500785.jpg);
}
