/*#main-nav > ul > li{*/
    /*float: left;*/
/*}*/

/*#main-nav > ul > li > a{*/
    /*display: block;*/
    /*height: 83px;*/
    /*line-height: 83px;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*padding: 0 18px;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
/*}*/
/*#main-nav > ul > li > a:hover{*/
    /*color:#ff5344;*/
/*}*/
/*#main-nav .sub-menu{*/
    /*display: none;*/
    /*position: absolute;*/
    /*background: #fff;*/
    /*padding:10px 0;*/

/*}*/

/*#main-nav .sub-menu>li>a{*/
    /*display: block;*/
    /*padding: 10px 20px;*/
    /*color:#333;*/
    /*text-transform: uppercase;*/
    /*font-size: 16px;*/
/*}*/

/*#main-nav .sub-menu>li>a:hover{*/
    /*background:#FFECEC;*/
/*}*/

/*#main-nav > ul > li:hover > .sub-menu{*/
    /*display: block;*/
/*}*/


.portfolio-container .portfolio-item-wrapper .portfolio-item figure {
    position: relative;
    width: 100%;
    /*margin-bottom:25px;*//*thuy*/
    overflow: hidden;
}

.portfolio-container .portfolio-item-wrapper .portfolio-item figure .image{
    height: 250px;
    background-position: 50% 25% !important;
    background-size: cover !important;
    transition-duration: 500ms;
    transition-property: width, height;
    display: block;
}

.blog-grid .item:nth-child(3n+1){
	clear:left
}

